@model NewPostPageModel
<br>
<div id="newpost">
    <form action="/thread/create">
        @Html.AntiForgeryToken()
        <input type="text" name="username" placeholder="Anonymous">
        @{
            if (!Model.IsCommentReply && !Model.IsThreadReply)
            {
                <input type="text" name="topic" placeholder="(Optional) Topic...">
            }
            if (Model.IsCommentReply)
            {
                <textarea name="text">>>@Model.ReplyToId</textarea>
            }
            else
            {
                <textarea name="text" placeholder="Your message..."></textarea>
            }
        }
        <input type="text" name="imageurl" placeholder="(Optional) Image Url" inputmode="url">
        <input type="password" name="password" placeholder="(Optional) Post password">
        <input type="hidden" value="@Model.BoardTag" name="boardtag" style="opacity: 0;" />
        <input type="hidden" value="@Model.ParentId" name="parent_id" style="opacity: 0;" />
        <input type="hidden" value="@Model.ReplyToId" name="replytoid" style="opacity: 0;" />
        <input type="submit" placeholder="Post" />
    </form>

    <br>
    <a href="/board/@Model.BoardTag">Back to board</a>
</div>

@* This part defines the metadata stuff. *@
@section metadata
{
    @Html.Partial("_Metadata", new MetadataViewModel()
    {
        Title = $"{Model.Config.SiteName} - New Post (/{Model.BoardTag}/)",
        Config = Model.Config,
        Description = "Create a new post.",
        Image = Model.Config.SiteLogo,
        ImageRelative = true,
        RelativeUrl = Url.RouteUrl(ViewContext.RouteData.Values)
    })
}