@model BoardPageModel

<div id="boardmeta">
    <h1 class="board_title">@Model.BoardInfo.Name</h1>
    <p class="board_welcome">@Model.BoardInfo.Description</p>
    <br />
    <img class="board_img" src="@Model.BoardInfo.ImageUrl">
    <br />
    <a href="/">Back to board list</a>
    <a href="/new?board=@Model.BoardInfo.Tag">Post new thread</a>
</div>

<div id="boardthreads">

    <div id="pages">
        @if (this.Model.PageCount > 1)
        {
            if (this.Model.Currentpage > 1)
            {
                <a href="/board/@Model.BoardInfo.Tag?p=@(this.Model.Currentpage-1)" rel="prev">&lt;</a>
            }
            @for (int i = 1; i <= this.Model.PageCount; i++)
            {

                if (i == this.Model.Currentpage)
                {
                    @(i)
                }
                else
                {
                    <a href="/board/@Model.BoardInfo.Tag?p=@(i)">@(i)</a>
                }
                @Html.Raw("&nbsp");
            }
            if (this.Model.Currentpage < this.Model.PageCount)
            {
                <a href="/board/@Model.BoardInfo.Tag?p=@(this.Model.Currentpage+1)" rel="next">&gt;</a>
            }
        }
    </div>

    @{
        foreach (var mainthread in Model.Threads.Where(x => x.ParentId != null))
        {
            var a = Model.Threads.ToList();
            <div class="thread">
                <a name="comment:@mainthread.Id"></a>
                <div class="threadheader">
                    <p>
                        <b>Thread by: @mainthread.Username</b>
                        &nbsp;
                        @if (!string.IsNullOrEmpty(mainthread.Topic))
                        {
                            <b class="threadtitle">@mainthread.Topic</b>
                        }
                        (ID: @mainthread.Id)
                    </p>
                </div>
                <div class="threadtext">
                    @{
                        if (mainthread.ImageUrl != null)
                        {
                            <img class="imgsmall" onclick="imgclick(this)" src="@mainthread.ImageUrl">
                        }

                        <p class="_linkify">@mainthread.Text</p>
                        <p>
                            <i><a href="/new?board=@Model.BoardInfo.Tag&parent_id=@mainthread.Id&isthreadreply=true">Reply</a></i>
                            <i><a href="/delete?id=@mainthread.Id&board_tag=@Model.BoardInfo.Tag">Delete</a></i>
                            <i><a href="/thread/@mainthread.Id">View Full Thread</a></i>
                            <br />
                            @if (this.Model.BigThreads.Contains(mainthread.Id))
                            {
                                <b><i>This is a big thread. Only @mainthread.ChildThreads.Count() comments are shown.</i></b>
                            }
                        </p>
                    }
                </div>

                @foreach (var comment in mainthread.ChildThreads.OrderBy(x => x.Id))
                {
                    <div class="comment">
                        <a name="comment:@mainthread.Id"></a>
                        <p><b>@comment.Username</b> (ID: @comment.Id)</p>
                        <div class="commenttext">
                            <p class="_linkify">@comment.Text</p>
                            <p>
                                <i><a href="/new?board=@Model.BoardInfo.Tag&parent_id=@mainthread.Id&replytoid=@comment.Id&isthreadreply=false">Reply</a></i>
                                <i><a href="/delete?id=@comment.Id&board_tag=@Model.BoardInfo.Tag">Delete</a></i>
                            </p>
                        </div>
                    </div>
                }

            </div>
        }
    }

    <div id="pages">
        @if (this.Model.PageCount > 1)
        {
            if (this.Model.Currentpage > 1)
            {
                <a href="/board/@Model.BoardInfo.Tag?p=@(this.Model.Currentpage-1)" rel="prev">&lt;</a>
            }
            @for (int i = 1; i <= this.Model.PageCount; i++)
            {

                if (i == this.Model.Currentpage)
                {
                    @(i)
                }
                else
                {
                    <a href="/board/@Model.BoardInfo.Tag?p=@(i)">@(i)</a>
                }
                @Html.Raw("&nbsp");
            }
            if (this.Model.Currentpage < this.Model.PageCount)
            {
                <a href="/board/@Model.BoardInfo.Tag?p=@(this.Model.Currentpage+1)" rel="next">&gt;</a>
            }
        }
    </div>

</div>

@* This part defines the metadata stuff. *@
@section metadata
{
    @{
        var meta = new MetadataViewModel()
        {
            Title = $"{Model.Config.SiteConfig.SiteName} - /{Model.BoardInfo.Tag}/ ({Model.BoardInfo.Name})",
            Config = Model.Config,
            Description = Model.BoardInfo.Description,
            Image = Model.Config.SiteConfig.SiteLogo,
            ImageRelative = true,
            RelativeUrl = Url.RouteUrl(ViewContext.RouteData.Values)
        };

        if (!string.IsNullOrEmpty(this.Model.BoardInfo.ImageUrl))
        {
            meta.Image = this.Model.BoardInfo.ImageUrl;
        }

        @await Html.PartialAsync("_Metadata", meta)
    }
}