@model IndexPageModel

@if (Model.ActionStatus != null && Model.ActionStatus?.ResponseCode == 400)
{
    <div class="alert">
        <h2>Attention</h2>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <br />
        <strong>@Model.ActionStatus.Title:</strong> @Model.ActionStatus.Message
    </div>
}

<div id="home">
    <img id="sitelogo" src="@Model.Config.SiteLogo">
    <h1 id="sitename">@Model.Config.SiteName</h1>
    <h2>Boards:</h2>
    <div id="boardlist">
        @foreach (var board in Model.Boards)
        {
            <p>
                <a href="/board/@board.Tag">@board.Name (/@board.Tag/)</a>
            </p>
        }
    </div>
    <br />
    <h2>More:</h2>
    <div id="stufflist">
        <a href="/webhooks">Discord Webhook</a>,
        <a href="/docs">API</a>,
        <a href="https://raw.githubusercontent.com/Naamloos/CHANdler/master/LICENSE">License</a>
    </div>
</div>

@* This part defines the metadata stuff. *@
@section metadata
{
    @Html.Partial("_Metadata", new MetadataViewModel()
    {
        Title = $"{Model.Config.SiteName} - Home",
        Config = Model.Config,
        Description = "",
        Image = Model.Config.SiteLogo,
        ImageRelative = true,
        RelativeUrl = Url.RouteUrl(ViewContext.RouteData.Values)
    })
}